<div>
    <div>
        <form>
            <mat-form-field appearance="fill" class="mx-2">
                <mat-label>Find Pokemons</mat-label>
                <input #findPokemon type="text" matInput placeholder="Pikachu"
                    (keyup)="filterPokemons(findPokemon.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    </div>
</div>
<div style=" background-color: gray;">
    <div class="cards-styles" *ngFor="let pokemon of pokemonsFiltered">
        <app-poke-card class="child-card-list" [pokemon]="pokemon"></app-poke-card>
    </div>
</div>