<section [className]="  pokemonType " id="pokemon-profile">
  <!-- [className]="'card '+ pokemonType" -->
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-md-9 col-lg-7 col-xl-5">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex text-black">
              <div class="flex-shrink-0" id="img-div">
                <img [src]="details.sprites?.front_default" alt="{{details.name}} image" class="img-fluid"
                  style="width: 150px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1" style="font-size: 15px; font-weight: bold;">{{details.name | upperCaseCustom}}</h5>
                <p class="mb-2 pb-1" id="pokemon-type">{{details.types[0].type.name}}</p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                  style="background-color: #efefef; text-align: center;">
                  <div>
                    <p class="small text-muted mb-1">Weight lb</p>
                    <p class="mb-0" style=" font-weight: bold;">{{details.weight}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Height ft</p>
                    <p class="mb-0" style=" font-weight: bold;">{{details.height}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">XP</p>
                    <p class="mb-0" style=" font-weight: bold;">{{details.base_experience}}</p>
                  </div>
                </div>
                <p class="lead fw-normal mb-1">Moves</p>
                <div class="p-2" style="background-color: #f8f9fa;">
                  <ol>
                    <li *ngFor="let moves of details.moves| slice:0:4; let i=index">
                      <!-- {{moves.move[0].name}} -->
                      {{details.moves[i].move.name | upperCaseCustom}}
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>