#img-div {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  /* background-color: #2196f3; */
  /* padding: 20px; */
  /* text-align: center; */
  /* cursor: pointer; */
  /* margin-left: 55px; */
  margin: auto;
  /* max-width: 300px; */
}

#pokemon-type {
  display: inline-block;
  background-color: rgba(120, 120, 120, 0.3);
  grid-row: 1;
  grid-column: 1;
  border: none;
  border-radius: 20px;
  padding: 2px 20px;
}

#pokemon-profile {
  height: 100%;
}
.fire {
  /* background-color: #d7705f; */
  background: rgb(186, 77, 58);
  background: linear-gradient(
    180deg,
    rgba(186, 77, 58, 0.9921218487394958) 0%,
    rgba(215, 112, 95, 0.891281512605042) 56%,
    rgba(215, 112, 95, 1) 100%
  );
}
.grass {
  /* background-color: #68a890;  */
  background: rgb(104, 168, 144);
  background: linear-gradient(
    180deg,
    rgba(104, 168, 144, 1) 0%,
    rgba(172, 255, 224, 1) 56%,
    rgba(104, 168, 144, 1) 100%
  );
}
.water {
  /* background-color: #50b0d8; */
  background: rgb(80, 176, 216);
  background: linear-gradient(
    180deg,
    rgba(80, 176, 216, 1) 0%,
    rgba(157, 226, 255, 1) 56%,
    rgba(80, 176, 216, 1) 100%
  );
}
.bug {
  /* background-color: #bbca63; */
  background: rgb(157, 170, 85);
  background: linear-gradient(
    180deg,
    rgba(157, 170, 85, 1) 0%,
    rgba(242, 255, 167, 1) 56%,
    rgba(187, 202, 99, 1) 100%
  );
}
.electric {
  /* background-color: #ffce4b; */
  background: rgb(255, 206, 75);
  background: linear-gradient(
    180deg,
    rgba(255, 206, 75, 1) 0%,
    rgba(255, 233, 173, 1) 56%,
    rgba(255, 206, 75, 1) 100%
  );
}
.poison {
  /* background-color: #ab7bf8; */
  background: rgb(171, 123, 248);
  background: linear-gradient(
    180deg,
    rgba(171, 123, 248, 1) 0%,
    rgba(224, 205, 255, 1) 56%,
    rgba(171, 123, 248, 1) 100%
  );
}
.psychic {
  /* background-color: #79416e; */
  background: rgb(121, 65, 110);
  background: linear-gradient(
    180deg,
    rgba(121, 65, 110, 1) 0%,
    rgba(255, 147, 234, 1) 56%,
    rgba(121, 65, 110, 1) 100%
  );
}

.ground {
  /* background-color: #eead38; */
  background: rgb(238, 173, 56);
  background: linear-gradient(
    180deg,
    rgba(238, 173, 56, 1) 0%,
    rgba(255, 226, 174, 1) 56%,
    rgba(238, 173, 56, 1) 100%
  );
}

.normal {
  background: rgb(109, 73, 77);
  background: linear-gradient(
    183deg,
    rgba(109, 73, 77, 1) 0%,
    rgba(238, 193, 198, 1) 100%
  );
}

.dragon {
  background: rgb(61, 59, 171);
  background: linear-gradient(
    180deg,
    rgba(61, 59, 171, 1) 0%,
    rgba(146, 144, 255, 1) 56%,
    rgba(61, 59, 171, 1) 100%
  );
}

.rock {
  background: rgb(126, 85, 61);
  background: linear-gradient(
    180deg,
    rgba(126, 85, 61, 1) 0%,
    rgba(228, 165, 128, 1) 56%,
    rgba(126, 85, 61, 1) 100%
  );
}

.fairy {
  background: rgb(206, 34, 153);
  background: linear-gradient(
    180deg,
    rgba(206, 34, 153, 1) 0%,
    rgba(255, 130, 217, 1) 56%,
    rgba(206, 34, 153, 1) 100%
  );
}

.fighting {
  background: rgb(136, 37, 45);
  background: linear-gradient(
    180deg,
    rgba(136, 37, 45, 1) 0%,
    rgba(251, 110, 121, 1) 56%,
    rgba(136, 37, 45, 1) 100%
  );
}

.ghost {
  background: rgb(74, 51, 135);
  background: linear-gradient(
    180deg,
    rgba(74, 51, 135, 1) 0%,
    rgba(153, 116, 251, 1) 56%,
    rgba(74, 51, 135, 1) 100%
  );
}

.ice {
  background: rgb(64, 113, 147);
  background: linear-gradient(
    183deg,
    rgba(64, 113, 147, 1) 0%,
    rgba(152, 213, 255, 1) 56%,
    rgba(64, 113, 147, 1) 100%
  );
}

.dark {
  background: rgb(53, 34, 37);
  background: linear-gradient(
    183deg,
    rgba(53, 34, 37, 1) 0%,
    rgba(164, 164, 164, 1) 56%,
    rgba(53, 34, 37, 1) 100%
  );
}

.steel {
  background: rgb(93, 86, 131);
  background: linear-gradient(
    183deg,
    rgba(93, 86, 131, 1) 0%,
    rgba(181, 178, 199, 1) 56%,
    rgba(93, 86, 131, 1) 100%
  );
}
