<mat-card class="card">
    <mat-card-header>
        {{pokemon.name | upperCaseCustom}}
        {{ pokemonDetails.types && pokemonDetails.types.length>0 ? pokemonDetails.types[0].type.name: ''}}
        <!-- {{ getmove()}} -->
        <ul>
            <li class="cards-styles" *ngFor="let moves of pokemonDetails.moves">
                {{moves.move.name}}
            </li>
        </ul>

    </mat-card-header>
    <img mat-card-image [src]="pokemonDetails.sprites?.back_default" alt="{{pokemonDetails.name}} image">
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button routerLink="/pokemon-details/{{pokemonDetails.name}}">View More</button>
    </mat-card-actions>
</mat-card>