<div class="container">


    <mat-card [className]="'card '+ pokemonType" routerLink="/pokemon-details/{{pokemonDetails.name}}">
        <mat-card-header style="font-weight: bold;" class="card-header-class" id="card-header">
            {{pokemon.name | upperCaseCustom}}
            <!-- {{ pokemonDetails.types && pokemonDetails.types.length>1 ? pokemonDetails.types[1].type.name: ''}} -->
            <!-- {{ getmove()}} -->
            <!-- {{pokemonDetails.types[1].type.name}} -->

            <!-- <ol>
            <li class="cards-styles" *ngFor="let moves of pokemonDetails.moves| slice:0:3; let i=index">
                {{moves.move.name}}
            </li>
        </ol> -->

            <!-- <ol>
            <li class="cards-styles" *ngFor="let abilities of pokemonDetails.abilities">
                {{abilities.ability.name}}

            </li>
        </ol> -->


            <!-- <ol>
            <li class="cards-styles" *ngFor="let types of pokemonDetails.types">
                {{types.type.name}}
            </li>
        </ol> -->
            <div>
                <p style="font-weight: 400;" class="pokemon-order"># {{pokemonDetails.order}}</p>
                <!-- <p>{{ textHere('What if i just put a text')|upperCaseCustom}}</p> -->
            </div>



        </mat-card-header>




        <mat-card-content class="second-card">

            <div>
                <p class="pokemom-type">{{ getType()}}</p>
            </div>

            <div>
                <img class="pokemon-img" mat-card-image [src]="pokemonDetails.sprites?.front_default"
                    alt="{{pokemonDetails.name}} image">
            </div>
            <!-- <img class="pokemon-img" mat-card-image [src]="pokemonDetails.sprites?.front_default"
            alt="{{pokemonDetails.name}} image"> -->
            <!-- <p id="pokemon-type-id"> {{changeColor(getType()) }}</p> -->


        </mat-card-content>
        <!-- <mat-card-actions>
        <button mat-raised-button routerLink="/pokemon-details/{{pokemonDetails.name}}">View More</button>
    </mat-card-actions> -->
        <!-- <mat-card-content id="lower-text">
        <p>something</p>
    </mat-card-content> -->
    </mat-card>

</div>